/* Переменные */
:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --beige-color: #F5F4FA;
    --dark-color: #2F303A;
    --btn-hover-color:  #188CE8;
}
 
/* outline: 2px solid tomato - ободок на время верстки, затем удалить */
/* width: 970px; контейнера + 15 и 15 padding*/


html {
    box-sizing: border-box;
    
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Селектор ссылок */
.link {
    color: inherit;
    text-decoration: none;
 }
/* селектор списков */
.list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    
}
/* Стилистика логотипа */
.logo {
    color: #000000; 
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;

}
.logo .logo-web {
    color: var(--accent-color)
}

.logo .logo-studio {
    color: var(--white-color);
}

/* Стилистика общей шапки */
.nav-list .link,
.contact {
    padding-top: 5px;
    padding-bottom: 5px;

    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    list-style: none;
}

.nav-list .link:hover,
.nav-list .link:focus {
    color: var(--accent-color);
}

.link.current {
    color: var(--accent-color);
}

.contact {
    color: var(--primary-text-color)
}

.contact .link:hover,
.contact .link:focus {
    color: var(--accent-color)
}

/* Стилистика героя */
.hero {
    background-color: var(--dark-color);
    text-align: center;
}
.hero .title {
    margin-top: 0;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;

    max-width: 630px;

    color: #fff;
    font-family: Roboto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1,36;
  
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
}

.hero .button {
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    border-radius: 4px;
    padding: 10px 32px;
    border-width: 0px;
   
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: inline-block;
    align-items: center;
 
    letter-spacing: 0.06em;
    cursor: pointer;
}

.hero .button:hover,
.hero .button:focus {
    background-color: var(--btn-hover-color);
}

/* Стилизация секций - Студия */
.section {
    padding-bottom: 94px;
     
}

.section-title {
    margin-top: 0px;
    margin-bottom: 50px;
    
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}

img {
    display: block;
}

.features-list .title {
    margin-top: 0px;
    margin-bottom: 10px;

    color: var(--title-text-color);
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

.features-list p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.team {
    background-color: var(--beige-color);
    
}
.team .title {
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.19;
    font-weight: 500;    
}
 
.team .position {
    font-size: 16px;
    line-height: 1.19;
}

.name {
    min-width: 270px;
}
.name h3 {
    margin-top: 30px;
    margin-bottom: 10px;
    
}
.name p {
    margin-top: 0px;
    margin-bottom: 30px;
}


/* Стилизация секций - Портфолио */
.button {
    color: var(--title-text-color);
    background-color: var(--beige-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    cursor: pointer;
    font-family: inherit;
    border-radius: 4px;

    padding: 6px 22px;
}

.button:hover {
    background-color: var(--accent-color);
    color: var(--white-color);
}

.section-works .title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.section-works .text {
    font-size: 16px;
    line-height: 1.88;
}

/* Стилизация футер */
.footer {
    background-color: var(--dark-color);
    
}

.address .local-address {
    color: var(--white-color);
    font-style: normal;
}

.address .contacts {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
}

.footer .web {
    margin-bottom: 20px;
}
.address p {
    margin-top: 0;
    margin-bottom: 9px;
}
.address li {
    margin-top: 0;
    margin-bottom: 9px;
}

